<div th:if="${status.isError()}" th:id="'error-' + ${pullProgressId}" class="alert alert-warning" role="alert"><i
        class="bi bi-exclamation-triangle"></i> <span th:text="${status.getError()}"></span>
</div>
<div th:if="${!status.isError()}" th:id="'status-' + ${pullProgressId}">
    Pull status: <span th:text="${status.status}">Status</span><br th:if="${status.isPulling()}"/>
    <span th:if="${status.isPulling()}"
          th:text="'(' + ${status.getHumanReadableDownloadProgress() + ')'}">Status</span>
</div>
<div th:if="${status.isPulling()}" th:id="'progress-' + ${pullProgressId}" class="progress" role="progressbar"
     aria-label="Animated striped example"
     th:data-aria-valuenow="${status.getCompletedPercentage()}"
     aria-valuemin="0"
     aria-valuemax="100">
    <div class="progress-bar progress-bar-striped"
         th:style="'width: '+ ${status.getCompletedPercentage()} + '%'">
    </div>
</div>
<div th:if="${!status.isPulling()}" th:id="'progress-' + ${pullProgressId}"></div>