<div class="text-center row">
    <h2 th:text="${pageTitle}">Page title</h2>
</div>
<div class="row">
    <p>Here is a list of models each backend has available:</p>
</div>

<div id="backend-list" class="row row-cols-1 row-cols-md-1 g-4">
    <div th:each="backend: ${backends}">
        <div th:id="'backend-card-' + ${backend.id}" class="col">
            <h3 th:text="${backend.name}"></h3>
            <th:block th:if="${backend.isModelPullingCapable()}">
                <form th:id="'pull-form-' + ${backend.id}"
                      th:attr="hx-post='/api/v1/backends/' + ${backend.id} + '/models', hx-target='#model-list-' + ${backend.id}"
                      hx-swap="innerHTML"
                      hx-on="htmx:beforeRequest: this.reset();">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" name="modelTag" class="form-control" placeholder="Model Identifier"
                                   aria-label="Model Identifier" aria-describedby="button-pull">
                            <button class="btn btn-success" type="submit" id="button-pull">
                                <i class="bi bi-download"></i> Pull model
                            </button>
                        </div>
                        <div id="model-pull-help" class="form-text">
                            Copy the identifier provided by the backend. For example, the tag from an
                            <a href="http://ollama.ai/library" target="_blank">Ollama library</a>'s
                            model.
                        </div>
                    </div>
                </form>
            </th:block>
            <div th:id="'model-list-' + ${backend.id}" th:with="models=${backend.getAvailableModels()}, backend=${backend}" class="row row-cols-1 row-cols-md-2 g-4">
                <th:block th:insert="~{models/model-cards}"></th:block>
            </div>
        </div>
    </div>
</div>