<tr th:id="'agents-table-row-' + ${agent.htmlId}">
    <th scope="row" th:text="${agent.id}">id</th>
    <td th:text="${agent.name}">name</td>
    <td th:text="${agent.specialty}">specialty</td>
    <td>
        <a th:href="'/agents/' + ${agent.id}"
           class="btn btn-primary btn-sm"
           role="button">
            <i class="bi bi-zoom-in"></i>
        </a>
        <button class="btn btn-warning btn-sm"
                type="button"
                th:attr="hx-get='/api/v1/agents/' + ${agent.id} + '/edit'"
                hx-target="#page-modal"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#page-modal">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger btn-sm"
                type="button"
                th:attr="hx-get='/api/v1/agents/' + ${agent.id} + '/delete'"
                hx-target="#page-modal"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#page-modal">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>