

<div id="scroller" style="height:600px; overflow:auto;" hx-ext="sse" sse-connect="/api/v1/chat/1"
     sse-swap="message" hx-swap="beforeend">

</div>
<form hx-post="/api/v1/chats/1" hx-swap="none" hx-on="htmx:afterRequest: this.reset();">
    <div class="input-group mb-3">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input name="message" type="text" class="form-control" placeholder="" aria-label="Message" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
    </div>
</form>

<script>
    const scrollingElement = document.getElementById("scroller");

    const config = { childList: true };

    const callback = function (mutationsList, observer) {
      for (let mutation of mutationsList) {
        if (mutation.type === "childList") {
          //window.scrollTo(0, document.body.scrollHeight);
          //scrollingElement.scrollIntoView(false);
          scrollingElement.scrollTop = scrollingElement.scrollHeight;
          console.log("div updated?");
        }
      }
    };

    const observer = new MutationObserver(callback);
    observer.observe(scrollingElement, config);

</script>