<h2>Kick off a conversation with...</h2>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-search"></i>
    </span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<p>Cards for each of the agents found</p>
<h3>Participants</h3>
<p>Cards for each of the agents added</p>
<button class="btn btn-primary" type="submit" id="button-new">
    <i class="bi bi-chat-text"></i> Start!
</button>